body{
    background: rgb(34,155,126);
    background: linear-gradient(45deg, rgba(34,155,126,1) 0%, rgba(234,74,46,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}


.box{
    
    margin: auto;
    background: #302c34;
    border-radius: 50px;
    display: flex;
    width: 70%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    align-content: center;
    flex-direction: column;
    margin-top: 9%;
}



 .btn{
    background-color: #ea4a2e;
    border: thin solid #606464;

    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3em 0.5em 1em;

    color: white;
    font-size: 15px;
}

.input{
    background-color: #ffffff;
    border: thin solid #606464;

    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3em 0.5em 1em;
}

select{
    background-color: #ffffff;
    border: thin solid #606464;

    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3em 0.5em 1em;
}

label{
    color: white;
    font-size: 20px;
} 

.container{
    
    padding-bottom: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

.scrollable{
    overflow-y: scroll; 
    height:400px;
}

.center{
    color: #ffffff; 
}

#msg-user{
    margin-left: 20%;
    margin-right: 20%;
    font-style: italic;
    color: #ffffff;
    text-align: center;
}